<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="newListings">
      <ion-item *ngFor="let listing of newListings | async">
        <ion-thumbnail slot="start">
          <img alt="Image of Listing" [src]="listing.images? getListingImage(listing.images) : 'https://jsonplaceholder.typicode.com/photos/1'" />
        </ion-thumbnail>
        <ion-card-header>
          <ion-card-title>{{listing.title ?? 'N/A'}}</ion-card-title>
          <ion-card-subtitle>{{(listing.type | uppercase) ?? 'N/A'}} for R {{listing.price ?? 'N/A'}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-label> Located in  {{listing.location ?? 'N/A'}}: {{listing.bedrooms ?? 'N/A' }} Beds | {{listing.bathrooms ?? 'N/A'}} Baths | {{listing.parking_spaces ?? 'N/A'}} Bays</ion-label>

          <p>{{listing.description ?? 'N/A'}}</p>
        </ion-card-content>

        <ion-button href="{{listing.url ?? 'N/A'}}" fill="clear">View more...</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

