<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="searchForm">
    <ion-item>
      <ion-label position="floating">Limit (1-500)</ion-label>
      <ion-input type="number" min="1" max="500" formControlName="limit"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Sort</ion-label>
      <ion-select formControlName="sort">
        <ion-select-option *ngFor="let sortField of getFields()" [value]="sortField">
          {{ sortField | uppercase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Order</ion-label>
      <ion-select formControlName="order">
        <ion-select-option value="ASC">Ascending</ion-select-option>
        <ion-select-option value="DESC">Descending</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fuzzy</ion-label>
      <ion-toggle formControlName="fuzzy"></ion-toggle>
    </ion-item>

    <div formGroupName="search">
      <ion-item>
        <ion-label position="floating">Search Type</ion-label>
        <ion-select formControlName="type">
          <ion-select-option value="sale">Sale</ion-select-option>
          <ion-select-option value="rent">Rent</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Search Location</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input type="number" formControlName="id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price Min</ion-label>
        <ion-input type="number" formControlName="price_min"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price Max</ion-label>
        <ion-input type="number" formControlName="price_max"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bedrooms</ion-label>
        <ion-input type="number" formControlName="bedrooms"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Bathrooms</ion-label>
        <ion-input type="number" formControlName="bathrooms"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Parking Spaces</ion-label>
        <ion-input type="number" formControlName="parking_spaces"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Amenities</ion-label>
        <ion-input type="text" formControlName="amenities"></ion-input>
      </ion-item>
  </div>
    <ion-item>
      <ion-label position="floating">Return Fields</ion-label>
      <ion-select multiple formControlName="return">
        <ion-select-option>
          *
        </ion-select-option>
        <ion-select-option *ngFor="let returnField of getFields()" [value]="returnField">
          {{ returnField }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="onSubmit()">Search</ion-button>
  </ion-list>
</ion-content>
